# shop results

## goal

* find factors influencing this shop's results
* predict results

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## Load data

In [2]:
from os import path, scandir

daily_datadir = "./data/CaisseJour/"
datadirs = [path.join(daily_datadir, d.name) for d in scandir(daily_datadir)]
data_files = [
    path.join(datadir, file.name)
    for datadir in datadirs
    for file in scandir(datadir)
]

In [3]:
def parse_caisse(filename, keywords=("Chiffre", "TVA", "nombre", "moyen", "ticket")):
    """Parse file "caisse jour"
    
    Args:
        filename (string): file to parse
        keywords (list): list of keywords for  one line data
    """
    data = {}
    with open(filename, "br") as fd:
        for line in fd:
            line = line.decode("Windows-1252",errors="ignore")
            if "à" in line:
                # date
                data["date"] = line.split(" ")[0]
            elif any(keyword in line for keyword in keywords):
                data[line.split(";")[0].strip()] = line.split(";")[1].strip()
        #TODO: add small tables
    return data

In [4]:
daily = pd.DataFrame(parse_caisse(f) for f in data_files)
daily.head(10)

,Chiffre d'Affaires HT,Chiffre d'Affaires TTC,Coefficient moyen,Nom TVA,Nombre moyen de produits / Ticket,TVA Collecté,TVA Vente 10%,TVA Vente 20%,Ticket moyen TTC,date
0,"545,26 €","633,90 €","0,00",Taux TVA,"1,6","88,64 €",10 %,20 %,"10,06 €",09/11/2018
1,"242,34 €","285,80 €","0,00",Taux TVA,"1,6","43,46 €",10 %,20 %,"10,99 €",03/11/2018
2,"1370,21 €","1616,00 €","0,00",Taux TVA,"1,8","245,79 €",10 %,20 %,"11,14 €",10/11/2018
3,"153,58 €","182,00 €","0,00",Taux TVA,"1,2","28,42 €",10 %,20 %,"7,00 €",22/11/2018
4,"394,43 €","459,70 €","0,00",Taux TVA,"1,5","65,27 €",10 %,20 %,"10,95 €",02/11/2018
5,"762,19 €","892,80 €","0,00",Taux TVA,"1,7","130,61 €",10 %,20 %,"8,27 €",17/11/2018
6,"522,31 €","620,30 €","0,00",Taux TVA,"1,5","97,99 €",10 %,20 %,"9,85 €",07/11/2018
7,"551,51 €","649,30 €","0,00",Taux TVA,"1,5","97,79 €",10 %,20 %,"7,21 €",25/11/2018
8,"709,16 €","837,30 €","0,00",Taux TVA,"1,4","128,14 €",10 %,20 %,"8,72 €",21/11/2018
9,"120,48 €","139,20 €","0,00",Taux TVA,"1,4","18,72 €",10 %,20 %,"7,33 €",06/11/2018

## Data exploration